body{
  font-family: 'Bellefair', serif;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px

  /*  bcoz of the padding its not round*/
}
.height{
  height: 50%;
}
/* contact section */
#contact{
  padding: 40px;
  background-color: whitesmoke;
}
#contact .form-control{
  border-radius: 10px!important;
  font-size: 20px;
}
#contact .button{
  background-color: #353531;
  font-size: 30px;
  color: whitesmoke;
  margin-bottom: 20px;
  border-radius: 10px;
}
#contact button:hover{
  background-color: #CED0CE;
}
